MetroCard.Test/Service References/WSUsuarios/Usuarios3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetroCard.Service.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetroCard.Service.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RepetidorException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidorException" nillable="true" type="tns:RepetidorException" />
</xs:schema>